name: Workflows for Unit tests
on:
  push:
    branches: [main]

jobs:
  unit-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Node.js
        users: actions/setup-node@v3
        with:
          node-varsion: "24"

      - name: Install dependencies
        run: npm install